<div class="media">
	<div class="media-left">
		<a href="#">
		    <% if comment.user.logo.blank? %>
				<%= image_tag "noprofile1.png", width: "50px", class: "media-object" %>
            <% else %>
                <%= image_tag comment.user.logo_url, width: "50px", class: "media-object" %>
            <% end %>
			<!-- <img class="media-object" src="http://lorempixel.com/46/46/abstract/7" alt="..."> -->
		</a>
	</div>
	<div class="media-body">
		<h6 class="strong media-heading"><%= comment.user.email %></h6>
		<h6 class="strong"><%= comment.content %></h6>
	</div>
</div>